---
import Skelet from "../../layouts/Skelet.astro";

export async function getStaticPaths() {
  const url = "https://spabkjddxznsprvkkzuf.supabase.co/rest/v1/mad";
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwYWJramRkeHpuc3BydmtrenVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM4MzMxMzUsImV4cCI6MjAwOTQwOTEzNX0.p8QClExDi-oKBQN9Gnk3nkdEkkwBAEwQVO_EMPpfAZQ",
    },
  };
  const response = await fetch(url, options);
  const data = await response.json();
  return data.map((el) => {
    return {
      params: { pid: el.id },
      props: { el },
    };
  });
}
const { el } = Astro.props;
---

<Skelet title="Ret" headline={el.navn}>
  <img src={"../billeder/" + el.billede + ".webp"} alt="retten" />
  <p>Levested: {el.levested}</p>
  {
    el.indhold && (
      <ul>
        {el.indhold.map((item) => {
          return <li> {item} </li>;
        })}
      </ul>
    )
  }
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi enim laborum nam illum, recusandae nobis praesentium pariatur saepe dolorum ullam minima dicta dolorem, qui, repellendus necessitatibus placeat amet maiores?</p>
  <p>adipisicing elit. Sequi animi enim laborum nam illum, recusandae nobis praesentium pariatur saepe dolorum ullam minima dicta dolorem, qui, repellendus necessitatibus</p>
</Skelet>
