---
import Skelet from "../layouts/Skelet.astro";
---

<Skelet title="om" headline="Om os">
  <section class="wrap">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, aperiam quas a ex id repellendus quis eveniet! Cupiditate quo non, consectetur, quibusdam dicta pariatur adipisci omnis amet voluptatum praesentium officia.</p>
  </section>
</Skelet>
