---
import Skelet from "../layouts/Skelet.astro";
import Card from "../components/Card.astro";

const url = "https://spabkjddxznsprvkkzuf.supabase.co/rest/v1/mad";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwYWJramRkeHpuc3BydmtrenVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM4MzMxMzUsImV4cCI6MjAwOTQwOTEzNX0.p8QClExDi-oKBQN9Gnk3nkdEkkwBAEwQVO_EMPpfAZQ";

const options = {
  headers: {
    apikey: key,
  },
};

// const response = await fetch(url, options);
const data = await fetch(url, options).then((response) => response.json());

//console.log(data);
---

<Skelet title="produkter" headline="Produkter">
  <section class="liste wrap">
    <div><button>alle</button><button>sund</button><button>usund</button></div>
    {
      data.map((item) => {
        return <Card data={item} />;
      })
    }
  </section>
</Skelet>

<style>
  button {
    margin: 0.3rem;
    padding: 0.3rem;
  }
  .gem {
    display: none;
  }
</style>

<script>
  const knapper = document.querySelectorAll("button");
  knapper.forEach((knap) => {
    knap.addEventListener("click", () => {
      console.log(knap.textContent);
      document.querySelectorAll("article").forEach((elm) => elm.classList.add("gem"));
      if (knap.textContent === "sund") {
        document.querySelectorAll(".sund").forEach((elm) => elm.classList.remove("gem"));
      } else if (knap.textContent === "usund") {
        document.querySelectorAll(".usund").forEach((elm) => elm.classList.remove("gem"));
      } else {
        document.querySelectorAll("article").forEach((elm) => elm.classList.remove("gem"));
      }
    });
  });
</script>
