---
import Skelet from "../layouts/Skelet.astro";
---

<Skelet title="flex">
  <section class="flex">
    <div class="wrapper">
      <div>
        <h2>Her er en en overskrift</h2>
        <p>Sit amet consectetur adipisicing elit. Vel, aperiam quas a ex id repellendus quis eveniet! Cupiditate quo non, consectetur, quibusdam dicta pariatur adipisci omnis amet voluptatum praesentium officia.</p>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, aperiam quas a ex id repellendus quis eveniet! Cupiditate quo non, consectetur, quibusdam dicta pariatur adipisci omnis amet voluptatum praesentium officia.</p>
    </div>
  </section>
  <footer>
    <h3>Her er en footer</h3>
    <p>Sit amet consectetur adipisicing elit. Vel, aperiam quas a ex id repellendus quis eveniet!</p>
    <p>Consectetur adipisicing elit. Vel, aperiam quas a ex id repellendus quis eveniet! Cupiditate</p>
    <p>Cupiditate quo non, consectetur, quibusdam dicta pariatur voluptatum praesentium officia.</p>
  </footer>
</Skelet>

<style>
  #headline {
    display: none;
  }
  .flex {
    display: flex;
    background-image: url("billeder/dahl.webp");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    align-items: end;
  }
  .wrapper {
    display: flex;
    align-items: end;
    gap: 2em;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.2em;
  }
  img {
    width: 100%;
  }
  footer {
    background-color: orange;
    padding: 3em;
    display: flex;
    gap: 2em;
  }
</style>
