---
const { data } = Astro.props;
// console.log(data);
---

<article data-id={data.id} class={(data.sund && "sunde") || "usunde"}>
  <h2>{data.navn}</h2>
  <h3>{data.levested}</h3>
  <a href=`/single/${data.navn}`>Læs mere</a>
</article>

<style>
  article {
    padding: 2em;
    position: relative;
  }
  .blue {
    background-color: blue;
    color: white;
  }

  .usunde {
    background-color: red;
  }

  .usunde::after {
    content: "USUND!";
    padding: 1em;
    background-color: white;
    color: red;
    position: absolute;
    right: 14px;
    bottom: 10px;
    rotate: 345deg;
    box-shadow: grey -2px 3px 15px;
  }

  .sunde {
    background-color: greenyellow;
  }
</style>
