---
const { title } = Astro.props;
---

<nav>
  <a href="/" class={title === "Hjem" && "aktiv"}>Hjem</a>
  <a href="/produkter" class={title === "Ting" && "aktiv"}>Produkter</a>
  <a href="/kategorier" class={title == "Kategorier" && "aktiv"}>Kategorier</a>
  <a href="/om" class={title === "om" && "aktiv"}>Om os</a>
  <a href="/test" class={title === "flex" && "aktiv"}>Test</a>
</nav>

<style>
  .aktiv {
    color: orange;
  }
</style>
